[General]
Show_Labels=false
Small_Spacings=true
Use_Bar_UI=3
Lines_Size=1
Update_Interval=5
Preferred_Height=468
Number_Chips=12

[Chip0]
Name=thinkpad-0
Number=0

[Chip0_Feature2]
Address=2
Name=CPU
Color=#00B000
Show=true
Min=0
Max=80

[Chip0_Feature3]
Address=3
Name=GPU
Color=#00B000
Show=true
Min=0
Max=80

[Chip1]
Name=iwlwifi_1-0
Number=1

[Chip2]
Name=ucsi_source_psy_USBC000:001-0
Number=2

[Chip3]
Name=BAT0-0
Number=3

[Chip4]
Name=acpitz-0
Number=4

[Chip5]
Name=coretemp-0
Number=5

[Chip6]
Name=spd5118-0-50
Number=6

[Chip7]
Name=ucsi_source_psy_USBC000:002-0
Number=7

[Chip8]
Name=nvme-400
Number=8

[Chip9]
Name=acpi_fan-0
Number=9

[Chip10]
Name=ACPI
Number=10

[Chip11]
Name=nvidia
Number=11

