[Desktop Entry]
Type=Application
Name=Alacritty
Comment=The fastest rusty terminal emulator
Exec=/home/imbolc/.cargo/bin/alacritty
Icon=alacritty
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=false
