[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/imbolc/Desktop/chrome-agimnkijcaahngcdmfeangaknmldooml-Default.desktop]
row=4
col=0

[/home/imbolc/Desktop/Videos]
row=3
col=1

[/home/imbolc/Desktop/chrome-kajebgjangihfbkjfejcanhanjmmbcfd-Default.desktop]
row=2
col=1

[/home/imbolc/Desktop/GPT4All.desktop]
row=5
col=0

[7264467a-b6ee-4860-9d3f-1a19dedfd97e]
row=0
col=0

[0407-0301]
row=6
col=0

[E44EB8E44EB8B122]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/imbolc]
row=1
col=1

